body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
}

input, select, button {
    padding: 8px;
    margin: 5px;
}

button {
    cursor: pointer;
}

#resultBox {
    margin-top: 20px;
    padding: 15px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: lightgray;
    font-weight: bold;
}
